[2015-03-24 00:22] blesh opened #1 "TESTSSSSS"
This library was developed in a hurry and is definitely battle-tested, but it's *woefully* under-tested.

All major components need more unit tests around them. And Travis needs to be set up. This is a requirement to get out of beta.

[2015-03-29 03:30] blesh opened #2 "Host docs somewhere (they're only in the package now)"
If you get the addon via npm, you'll have to docs under the `docs/`directory in the module, however it would be nice to put them up somewhere. I'd say this is a qualification to be "out of beta".

[2015-03-29 04:24] blesh opened #3 "Recipes - Add examples for how to use these components."
A top priority for since this component library is really a DSL of sorts, is putting out some sort of "recipe" list or pages that show various ways to use the components to create various effects.

A few ideas for this are:

- Basic line graph
- Creating area graphs and stacked area graphs
- "Hover data" on mouse moves - displaying data nearest the mouse on the graph
- Shared line/area selection -

[2015-03-29 12:43] ebryn opened #4 "Use block params"
Magically making things like `tick` available inside of templates is no bueno.

[2015-03-30 04:56] blesh opened #6 "Create global files"
Create a set of files for "global" install. (for use with things like JSBin or non-Ember-CLI applications).

This is a lower priority, but would be nice to have for playground apps.

[2015-03-30 05:00] blesh opened #7 "Docs organization: Modules showing strange classes associated to them"
If you look at the documentation and switch to the modules tab, it's really weirdly organized. Probably from a lack of understanding around how YUIDocs organizes modules vs classes.

Input here is welcome, but I'll probably just end up going around and making each module file an actual "module" and skipping the namespace bit. This might have implications for any global file build I do, though, whi

[2015-03-30 16:44] jasonmit opened #8 "Remove prototype functions"
Using Ember's prototype functions make this hard to consume for those who `EXTEND_PROTOTYPES = false`

[2015-03-30 16:46] jasonmit opened #9 "Rename blueprint"
`blueprints/ember-cli-ember-dvc` should be named `blueprints/ember-cli-nf-graph` so it executes on `ember install:install`

[2015-03-31 00:18] blesh commented on #9
Thank you for catching this! The biproduct of splitting an older add-on in two.

[2015-03-31 00:18] #9 closed

[2015-03-31 00:19] jayphelps opened #11 "Rename project to ember-nf-graph"
<:bike:>

Since ember-cli is now [the "official" way to use ember](http://guides.emberjs.com/v1.11.0/ember-cli/), many in the community (including myself) think new projects should stop including "cli" in their name since it's implied/redundant. I vote a name change to simply `ember-nf-graph` before this gains any major traction.

</:bike:>

Cc/ @blesh

[2015-03-31 00:23] blesh commented on #8
This is *really* good feedback. I hadn't thought about this being an issue for consumers of the add-on.

This is a pretty tall order, since I'm using `function() { }.property()` basically everywhere.  I'm happy to accept a PR on this, but for now I can't justify the effort. Likewise, since this would be such a sweeping change, it would probably be best to shore up the unit tests before undertaking

[2015-03-31 00:28] blesh commented on #11
you really need a shed emoji.

I named it as such because back when this was born as maybe the second-ever Ember-CLI add-on, @ebryn and @stefanpenner told me to name things prefixed with `ember-cli-`.

I think I'll leave this one how it is for now, unless the community screams out otherwise.

[2015-03-31 00:30] blesh commented on #4
Haha... it was pretty bueno in Ember `1.7.0-beta.5`, but you're right. Do you have an example of how I could implement this in, say, the `nf-x-axis` component?

[2015-03-31 00:30] jayphelps commented on #11
@blesh I'll be over to your cube in 5.

![me](https://38.media.tumblr.com/a9022cb3d0b74279c8f7ebf3b4e0bfbc/tumblr_mp9aukHSSo1r6dsjro1_500.gif)

[2015-03-31 00:31] blesh commented on #11
LOL

[2015-03-31 00:32] blesh commented on #2
Docs are now at https://netflix.github.io/ember-cli-nf-graph/docs/

[2015-03-31 00:32] #2 closed

[2015-03-31 00:49] chnn commented on #8
@blesh [ember-watson](https://github.com/abuiles/ember-watson) now includes a command to switch to the non-proto extension style that may make it easier (not manual work).

[2015-03-31 01:04] blesh opened #12 "reduce CSS specificity"
Example, styling an nf-area:

[code]

this should not be a requirement. A simple class or two should be able to override the default behavior.
Example:

[code]

The first is ideal, but because of the nested nature of some of these components, some specificity will likely be required, as the `class` is applied to the component container.

[2015-03-31 01:06] blesh commented on #8
:+1: thanks @chnn, I'll investigate this as soon as I can.

[2015-04-01 20:18] blesh opened #13 "nf-area-stack should sum y values for each area"
Currently, nf-area-stack requires each area underneath it to have data y values that are exactly where they should be plotted. We have an internal requirement that the nf-area-stack should add the values of the each area under the current area. This is the way this should have behaved to begin with, but we can leave the original behavior.

Proposed Fix:

- add a property named something like `sum`

[2015-04-01 20:19] blesh commented on #13
cc @jeff3dx

[2015-04-03 13:24] brandonparsons opened #14 "Demo"
It might be handy to have a demo showing the graphs that come out of the box with this.

[2015-04-03 14:01] cimbriano commented on #14
+1 yes, visuals would help make clear how each component is to be used.

[2015-04-03 16:57] jeff3dx opened #15 "Selections don"

[2015-04-03 17:01] jeff3dx opened #16 "Changing selected doesn't change CSS selected class"
With multiple nf-lines on a graph click a line to select it.  The nf-graph "selected" property object reference changes correctly but the "selected" CSS class is not applied to the new selection.

[2015-04-05 06:11] blesh commented on #14
Absolutely agree. We're planning on creating a site full of "recipes" and examples. Already tracking this concern on #3

[2015-04-05 06:11] #14 closed

[2015-04-05 06:14] blesh commented on #16
Seems like something caused by the update to 1.10

[2015-04-06 17:59] blesh commented on #15
Yes, they do.

[2015-04-06 17:59] #15 closed

[2015-04-07 01:33] jayphelps commented on #6
For anyone who comes across this, this may be even lower priority now that tools like [ember-giftwrap](https://github.com/ef4/ember-giftwrap) exist.

[2015-04-07 03:42] jayphelps opened #18 "Use ember-cli-sass instead of pre-compiling scss"
[README.md#generating-styles](https://github.com/Netflix/ember-cli-nf-graph/blob/3c97c32bc02ab382713caaf2260f048fba2e5c41/README.md#generating-styles)

Basically, this isn't needed anymore.

[2015-04-07 03:48] jayphelps opened #19 "Incompatible rxjs versions"
[code]

Which is due to us saying [we need `~2.4.6`](https://github.com/Netflix/ember-cli-nf-graph/blob/f20f36967ebc3418d865565626b6c7bb832b2a41/blueprints/ember-cli-nf-graph/index.js#L9) but [RxEmber needs `~2.3.22`](https://github.com/blesh/RxEmber/blob/b5f66a4ce1249d385a4b2d0f7d5b0e3adb6f6a88/bower.json#L31)

[2015-04-07 17:54] blesh commented on #19
RxEmber needs to be updated, really. It was pinned to 2.3.22 a while ago because of a regression RxJS.

[2015-04-07 22:48] jeff3dx commented on #3
I picked up this one.

[2015-04-07 23:09] blesh commented on #19
This should all be fixed now in master and the next release.

[2015-04-07 23:09] #19 closed

[2015-04-08 01:57] adimitri opened #22 "Enable nf-bars-group to support stacked bar charts"
It would be great if we could pass an option to nf-bars-group that would change the behavior of nf-bars to stack the different elements on top of each other.

[code]

[2015-04-09 23:02] jeff3dx opened #24 "nf-vertical-line doesn't handle null input, produces invalid SVG"
nf-vertical-line (and nf-horizontal-line) doesn't handle the case where it's x property is set to null or something non-number.  This is a common case since nf-vertical-line is often bound to hoverData on another element, and hoverData is often null or undefined when the mouse is not hovering. It will produce invalid SVG resulting in this error:

Error: Invalid value for <line> attribute y1="NaN"

[2015-04-10 07:29] blesh commented on #22
This is a good idea. The current idiom I think should be nf-bars-stack to mirror nf-area-stack.

Requires some thought.

[2015-04-10 07:32] blesh commented on #18
Right. The style thing was a remnant of this being an old ember cli ~0.0.38 project.

[2015-04-10 20:36] blesh opened #25 "tabs and spaces are the bane of my existence"
Finally have my editor problems straightened out I think.

But there are mixed tabs and spaces sprinkled throughout and it's a hinderance.

[2015-04-10 20:40] blesh commented on #11
Okay, so this will happen soon

[2015-04-10 20:42] jayphelps commented on #11
![fuck yeah](http://media2.giphy.com/media/hsBZfDG7wiWHu/giphy.gif)

[2015-04-10 20:45] blesh opened #26 "Update from old-fashion style builds"
Now that Ember-CLI supports building SASS properly (for a LONG time now, actually), we should move the CSS building into the proper place, rather than having a separate build.

[2015-04-10 20:47] #25 closed

[2015-04-10 21:38] #3 closed

[2015-04-10 22:46] blesh commented on #8
Thank you, @jayphelps!

[2015-04-10 22:47] jayphelps commented on #8
![You're welcome](http://38.media.tumblr.com/fb98526d9830f2abe15a48b083bffaf1/tumblr_n8a6s7lofb1sr7oyro1_500.gif)

[2015-04-10 22:54] jeff3dx opened #27 "Add touch support for mouse tracking and brushing"

[2015-04-10 23:56] blesh opened #28 "A few prototype functions remain..."
:( that's bad. Missed a bunch of `fmt` and `observesBefore` references. :(

[2015-04-11 00:09] #28 closed

[2015-04-11 00:20] blesh commented on #8
I need to reopen this. Apparently removing prototype functions breaks using *ordinary arrays* in `{{#each}}` within Ember. All arrays used in `{{#each}}` need to be identified and wrapped with `Ember.A()` ... which smells, but ¯\_(ツ)_/¯

Unfortunately, it also means the published beta.4 is totally busted if the user doesn't disable or remove that addon. 😕

[code]

[2015-04-11 00:20] blesh commented on #8
Really the problem is Issue #1 .... That's the CORE of all problems.

[2015-04-11 00:23] blesh opened #29 "Remove renaming warning"
It still shows the sad panda on ember-nf-graph :(

[2015-04-11 00:26] #29 closed

[2015-04-11 00:27] blesh commented on #11
Done.

[2015-04-11 00:27] #11 closed

[2015-04-13 18:54] #8 closed

[2015-04-14 23:02] #4 closed

[2015-04-17 07:50] ksnyde opened #33 "Docs links broken"
The documentation links from the README appear to be broken (404 error).

![2015-04-17_08-49-59](https://cloud.githubusercontent.com/assets/980757/7197921/bcbd96fe-e4de-11e4-8aea-2a61cbcc8116.png)

[2015-04-17 16:07] blesh commented on #33
That's strange. It appears renaming the repository as broken GitHub pages functionality. the `gh-pages` branch is there, with the appropriate files... Hmmm...

[2015-04-17 16:13] blesh commented on #33
Apparently, I just need to push them again. Thanks so much, @ksnyde, for pointing this out.

[2015-04-17 16:13] #33 closed

[2015-04-17 22:36] truenorth opened #36 "[Bug] D3.js not found"
#### Steps to reproduce

`ember new nfgraph-test; cd nfgraph-test`
`ember install ember-nf-graph`
`ember s`

![screen shot 2015-04-17 at 3 36 10 pm](https://cloud.githubusercontent.com/assets/558005/7212115/8349cfee-e517-11e4-9a80-401c8dea4d08.png)

**package.json**
[code]

[2015-04-21 21:05] blesh commented on #36
This is apparently already fixed. The issue was that the blueprint folder was still named `ember-cli-nf-graph`.

Running `ember-cli-nf-graph` will solve this issue for now, this will not be present in the next release (later today).

[2015-04-21 21:05] #36 closed

[2015-04-21 21:10] truenorth commented on #36
![200-1 copy](https://cloud.githubusercontent.com/assets/558005/7262634/12316896-e830-11e4-9a93-7c1fa995f33d.gif)

[2015-04-21 21:32] #24 closed

[2015-04-21 21:38] truenorth opened #39 "CI Pipeline"
@blesh are you able to set up travis-ci for this repo? #38 would add some value here

[2015-04-21 21:49] blesh commented on #16
This seems to be a problem with Ember itself. I'll file a bug.

[2015-04-21 22:47] blesh commented on #39
Yep, that was the plan, I just hadn't gotten to it. I'll do it now.

[2015-04-21 22:49] #39 closed

[2015-04-21 23:07] blesh commented on #26
Closing in favor of #18

[2015-04-21 23:07] #26 closed

[2015-04-21 23:44] jayphelps commented on #16
Reopening until upstream bug is fixed.

[2015-04-21 23:44] blesh commented on #16
I patched it in ember-nf-graph... I'm submitting a PR for ember, tho.

[2015-04-21 23:46] jayphelps commented on #16
@blesh ah okay. If this isn't impacting nf-graph, feel free to reclose

[2015-04-21 23:55] blesh commented on #16
It's not impacting nf-graph at the moment.

[2015-04-21 23:55] #16 closed

[2015-04-22 20:49] blesh opened #41 "Certain tracking modes of nf-line cause assertion errors saying setting element must be done with set()"
Related: https://github.com/emberjs/ember.js/issues/10935

The problem is that any computed property that observes `element` of a component causes an assertion error when the component is torn down.

[2015-04-22 21:23] jayphelps opened #43 "Remove nf-scroll-area"
~~[MutationObserver](https://developer.mozilla.org/en-US/docs/Web/API/MutationObserver) is currently being used in [nf-scroll-area](https://github.com/Netflix/ember-nf-graph/blob/4ae80a734db28e1ae4395f86f9d100a037eba019/app/components/nf-scroll-area.js#L74) which prevents it from being used in IE 10 and below as well as phantomjs 1.x; which means testing is a pain, need to add polyfills just for t

[2015-04-22 23:05] blesh commented on #43
nf-scroll-area is a remnant of splitting nf-graph from nf-table, and should be removed completely.

[2015-04-22 23:05] blesh opened #44 "Remove nf-scroll-area"
It's cruft and not part of nf-graph. It's left-overs from the split with nf-table

[2015-04-22 23:13] blesh commented on #43
duplicate of #44

[2015-04-22 23:13] #43 closed

[2015-04-22 23:15] jayphelps commented on #43
@blesh technically, #44 is a duplicate of this. :yum:

[2015-04-22 23:16] #44 closed

[2015-04-22 23:19] #41 closed

[2015-04-22 23:34] blesh commented on #43
@jayphelps technically... FISTICUFFS!!!

![Fisticuffs](http://i.imgur.com/3f2VG.gif)

[2015-04-22 23:36] blesh opened #46 "Use ember-cli-rx instead of rx-ember"
Bower is painful to deal with. The only reason we are using bower right now is because of an old issue with previous versions of Ember-CLI not allowing addons to use addons. That's fixed, so we should just be using ember-cli-rx.

[2015-04-22 23:50] truenorth commented on #46
:+1:

[2015-04-23 22:05] technomage opened #47 "Examples are missing in FF 28"
When the examples page is viewed in FF 28 on mac all the graphs are blank.  Safari and Chrome both show this content.

[2015-04-23 22:09] technomage commented on #47
Note in FF 37.0.1 the following errors appear:

Unexpected value NaN parsing x1 attribute. vendor.js:13215:0
Unexpected value NaN parsing x2 attribute. vendor.js:13215:0
Unexpected value NaN parsing y1 attribute. vendor.js:13215:0
Unexpected value NaN parsing y2 attribute. vendor.js:13215:0

[2015-04-25 23:00] blesh commented on #47
Attn @jeff3dx ... This probably just needs updated to the latest version.

I'm unsure about why they're not showing up in older versions of FF. These components were developed to target newer Chrome and FF browsers used by engineers at Netflix. I probably don't have time or justification to look into that, but I'm happy to take PRs on the matter, or suggestions.

[2015-04-25 23:01] blesh commented on #47
If time allows, I will of course look into this. I just can't justify prioritizing it, if that makes sense.

[2015-04-29 08:01] miguelmota opened #49 "Add support for percentage based dimensions"

[2015-04-29 18:33] jayphelps opened #50 "Remove RxJS as a dependency"
Needing to pull in RxJS via RxEmber (or ember-cli-rx) seems very unnecessary and boatful. The current places it's used seem very easy to do without Rx and would save consumers significant file size.

[2015-04-29 22:18] #46 closed

[2015-04-29 22:20] blesh commented on #50
![Boatful](http://images5.fanpop.com/image/photos/30400000/Love-Boat-the-love-boat-30440820-1200-803.jpg)

[2015-04-29 22:25] jayphelps commented on #50
Hahahahahahahahahahahahahah im dying help call 911 hahahahahahaa

[2015-04-30 00:22] blesh commented on #49
percentage based dimensions for? The `nf-graph` container itself?

[2015-04-30 00:38] miguelmota commented on #49
Yeah for the `nf-graph` component, instead of pixel based width/height

[2015-04-30 20:18] blesh commented on #49
So this is tricky.

The pixel values passed to `width` and `height` are used to calculate the scale of the graphed elements. In order to get those, I'd need to check to see if what was passed happened to be a string ending with "%", then setup an event to detect when the SVG has resized. ... that's where this gets tricky. The only reliable way I know of to get when the SVG has been resized is to p

[2015-04-30 20:20] blesh commented on #49
I'm not saying we're definitely *not* going to implement this. In fact, it might even end up being a requirement for the project this was birthed from. I'm really saying that this is a non-trivial change that could end up being buggy or slow on some platforms.

[2015-04-30 20:50] blesh commented on #49
I'm adding `wontfix` to this and closing it, *for now*.

**BUT** I will keep this in mind because it's likely to come up on our app here.

[2015-04-30 20:50] #49 closed

[2015-04-30 21:26] miguelmota commented on #49
@blesh I figured that would be case. Basically all the work would have to be invoked after the node is inserted in the DOM. Thanks anyway!

[2015-05-02 00:14] blesh opened #53 "Stop registering children during willInsertElement"
Per a discussion with @stefanpenner, this is causing re-render of components and slowness. In particular, axes are problematic.

[2015-05-02 00:33] stefanpenner commented on #53
One thing worth noting, it isn't that all registrations are inherently going to cause performance issues. I did notice that some of them in nf-graph. where themselves causing data changes that would require further render updates.

Doing this these extra renders obviously means we need to render parts twice. This clearly should be avoided. The caveat is, it isn't clear that this is actually happen

[2015-05-03 05:54] blesh commented on #53
@stefanpenner one quirky thing I'm doing that was a sort of "hack" recommended by @ebryn is seen in the nf-graph component. This is where i have a `willInsertElement` that is setting a `hasRendered` to `true`. That `hasRendered` is used in an `{{#if}}` in the template that tells it it's okay to render. This was because I needed a way to delay the render until the children were ready. I'll have to

[2015-05-03 06:32] blesh commented on #53
PR #54 is related.

Interestingly, when I run benchpress against this PR branch and the code *before* the PR, the code before the PR is some trivial amount faster, on average, 10 ms or so.

[2015-05-03 06:32] #53 closed

[2015-05-05 03:24] SirZach commented on #50
freshly installing this addon also did not include Rx. I needed to do a <code>npm install --save-dev ember-cli-rx</code> and an <code>bower install --save-dev rxjs</code> for it to work.

[2015-05-05 03:26] jayphelps commented on #50
Yep, it's not [here](https://github.com/Netflix/ember-nf-graph/blob/master/blueprints/ember-nf-graph/index.js) but it needs to be.

[2015-05-05 03:50] SirZach opened #57 "autoscaling width"
If I set <code>{{#nf-graph width="100%"}}</code> this works okay but when trying to combine that with an <code>{{nf-bars}}</code> things go awry and the bars end up stacked on top of each other.

[2015-05-06 02:36] blesh commented on #50
This should be cleared up now. (The meta issue of rxjs not installing properly)

[2015-05-06 02:38] blesh commented on #57
nf-graph doesn't support percentage based widths for a variety of reasons discussed here #49

We may in the future support this, but it's not likely to work well in some browsers, and could be computationally expensive, depending on how it's implemented.

[2015-05-06 02:38] #57 closed

[2015-05-06 03:42] jayphelps commented on #50
Technically it's not :p this was to remove RxJS as a dependency entirely of nf-graph since it's a rather large lib for what we're using it for. As discussed, it's OK to punt on this for now, until outside contributors care enough. But I'd prefer this ticket left open since it is indeed not ideal. I'll let it be your call, but that's IMO.

[2015-05-06 06:11] blesh commented on #50
Meh. Okay.

[2015-05-06 06:27] jayphelps commented on #50
<3

[2015-05-13 14:59] JacoSmit opened #59 "Bars displaying only in one column but tracked x and y values actually move"
Hi, I have the following input data for a bars graph but for some reason the bars only display in one column:

[code]
My code in my .hbs file to display the graph is:
[code]

Am I just doing something wrong?

[2015-05-14 18:12] blesh commented on #59
What version of nf-graph are you on? Latest?

[2015-05-15 17:43] JacoSmit commented on #59
Hi yes I am on the lastest version of nf-graphs. An image of the current graph is:
![screenshot from 2015-05-14 19 58 10](https://cloud.githubusercontent.com/assets/11595650/7658444/993de4f0-fb3a-11e4-9ddd-284666b7aa53.png)

[2015-05-19 17:09] blesh commented on #59
Okay, thanks, I'll take a look. Strange that we're not seeing this issue yet...

[2015-05-28 21:38] jesse-black opened #60 "wrong property names for x and y"
The documentation for [nf-line](https://netflix.github.io/ember-nf-graph/docs/classes/components.nf-line.html) (and others) says the `x` and `y` properties contains the paths to access on each data object. But doing

    {{nf-line data=model x="foo" y="bar"}}

didn't work. It seems the properties are actually named `xprop` and `yprop`, and doing

    {{nf-line data=model xprop="foo" yprop="bar"}}

[2015-06-01 20:50] blesh commented on #60
Thanks for letting us know.

[2015-06-01 20:51] blesh commented on #47
@technomage the examples were updated. I haven't yet looked at them in FF 28. Can you see if they're fine now?

[2015-06-02 00:16] blesh opened #61 "RxJS missing from blueprint"

[2015-06-02 00:17] blesh commented on #61
temporary work around is to add RxJS with bower and import it directly in your Brocfile.js

[2015-06-03 23:49] jayphelps opened #64 "tickFactory is no longer used (was recently removed)"
Likely an accident, but this commit https://github.com/Netflix/ember-nf-graph/commit/2ecd7d884595323badc8d074708bf3c0f626f6b4 removed `tickFactory` from being applied. This affects argus as well (the ticks aren't as intended).

Cc/ @jeff3dx

[2015-06-04 19:23] jayphelps commented on #61
Fixed in https://github.com/Netflix/ember-nf-graph/pull/56

[2015-06-04 19:23] #61 closed

[2015-06-04 20:03] jayphelps opened #66 "app/ components need to use the new cp syntax"
Apparently when I did https://github.com/Netflix/ember-nf-graph/pull/63, I missed the entire `app/` directory......

New syntax with polyfill looks like this:

[code]

Getter-only should still use this syntax, just not include a `set()`

[2015-06-04 22:08] #60 closed

[2015-06-05 22:11] #59 closed

[2015-06-05 22:13] #64 closed

[2015-06-24 20:02] jamesarosen opened #70 "Tick labels don't work on Glimmer"
On ember 1.13.2, when I do
[code]
I get the tick lines, but no labels.

Additionally, the guides don't show the `tick` block-param , though the code seems to expect that.

[2015-06-24 21:59] blesh commented on #70
Yeah, this because there is no longer an idiomatic way to share templates in Ember 1.13. (as I responded to you in Slack). There isn't much that can be done to fix this properly for now.

Might be able to do some hacky workarounds... like giving an optional component name to the axis component that loads the component and gives it the tick value. I'm still unsure how I'd give it the proper scope t

[2015-06-25 00:54] jamesarosen commented on #70
I have this working (for my use-case; I'm not sure if there's another important case I'm missing) with
[code]

[2015-06-25 00:55] jamesarosen commented on #70
I also don't know what "share templates" means. My only guess is that you want to have one block that gets used for both the x- and y-axis, it I don't know what that would like like.

[2015-06-25 01:31] jamesarosen opened #71 "Mouse Tracking doesn't work on Glimmer"
On Ember 1.13.2 and latest Chrome, I have the following:

[code]

I've logged the `hoverData` objects; they all come up with `x: null, y: null`.

[2015-06-25 14:51] blesh commented on #70
It was my understanding, from a conversation with Mike North, that [this no longer works in 1.13](https://github.com/Netflix/ember-nf-graph/blob/ff682a7fc857ac7cf827ea26ed77ed5a766c13f2/app/templates/components/nf-x-axis.hbs#L14)

[2015-06-25 15:04] jamesarosen commented on #70
I guess what I'm saying is that I don't understand that line you linked to. In the template I posted above, there are two cases:

 1. the user called it with a block: `{{#nf-x-axis as |tick|}}<text>{{tick.value}}</text>{{/nf-x-axis}}`
 2. the user called it without a block: `{{nf-x-axis}}`

But in your template, there are three:

 1. `template.blockParams` is true and `useDefaultTemplate` is true

[2015-06-25 20:12] blesh commented on #70
So the useDefaultTemplate thing was snuck past me, I think. I don't recall adding that. it's an interesting feature, but it shouldn't depend on block params.

1. `{{#nf-x-axis useDefaultTemplate=true as |tick|}}{{/nf-x-axis}}`
2. `{{#nf-x-axis as |foo|}}<text>{{foo.value}}</text>{{/nf-x-axis}}`
3. `{{#nf-x-axis}}<text>{{tick.value}}{{/nf-x-axis}}

#2 is the most common case.  #3 is deprecated.  #1

[2015-06-25 20:50] jamesarosen commented on #70
What's the default template? Couldn't we just use that when `hasBlock` is false? If you want *no* content, you could always do `{{#nf-x-axis}}{{/nf-x-axis}}`. Then we can eliminate `useDefaultTemplate`, which lets us move to Glimmer!

[2015-06-25 21:51] jamesarosen commented on #70
Since the default template is `<text>{{tick.value}}</text>`, my implementation above supports (1) and (2). (3) isn't proper ember style and I think you're right to deprecate it. Getting rid of the `bind-attr`s and converting `nf-tick-label` to an `Ember.Component` leaves us with

[code]

[2015-06-25 22:02] blesh commented on #70
Looks great! 3 has been giving deprecation warnings for some time now, and I'm okay with breaking that considering the low number of consumers of this library and the fact that we're still in beta.

[2015-06-26 18:36] juliankmazo opened #75 "How can I label every line or area chart inside a graph-content?"
Hi. I can't find, or I don't understand how can I label every chart inside a graph-component. I would like to put labels and colors so I can easily differentiate every line in one chart.

Can someone help me please :)

[2015-06-29 16:55] #70 closed

[2015-06-29 18:35] blesh commented on #75
@juliankmazo you can do anything you'd normally do with SVG or HTML, really. It just depends where you want your legend to live, or what you want your design to look like.

The colors of the `nf-line` components and others can be set via the `class` attribute on the component. You'd create a class and set the `stroke` color of the line with CSS.

[2015-06-29 18:35] #75 closed

[2015-07-02 18:41] jamesarosen opened #77 "maxProperty doesn't have a good way to use "default""
If I don't pass a `yMax`, I get a nice default behavior:
[code]

If I *do* pass a `yMax`, I can get a nice override:
[code]

But there's no way for me to use `yMax=someBoundProperty` that *might* be `undefined` or *might* be an integer. If it's undefined, then `yMax` gets set to `undefined`, not to the default behavior.

I think an easy solution would be to change the [logic in the `maxProperty`](

[2015-07-06 17:52] blesh commented on #77
This is tricky. It seems like a few cases are not covered:

- `null`
- `undefined`
- `NaN`
- `Infinity`

I think the behavior you're suggesting is perfect for `undefined`, where you just don't change whatever it's been set to. But for `null` or `NaN`, I think it should probably go to 0 or some minimal number, because it seems like in those cases the consuming code is specifically getting at changi

[2015-07-06 17:52] blesh commented on #77
.. and on the `Infinity` side, I think that's an extreme edge case, but I can probably default that to MAX_VALUE or MIN_VALUE depending on the polarity of the thing.

[2015-07-06 17:55] blesh commented on #71
We're still working in 1.11, so it's going to be a while before I can reasonably address this.

[2015-07-06 17:56] jayphelps commented on #77
@jamesarosen so I have a good understanding, what's a use case for binding the property, but the value is undefined/null *but it is not a bug*? I've found myself more and more not doing these sort of "I can't use the value, fall back to default" because they tend to mask bugs in apps that later are hard to track down. Instead, I usually prefer to either throw an actual error or fallback with a `co

[2015-07-06 18:00] jamesarosen commented on #77
My use-case: I'm building a component that wraps nf-graph. It has a `unit` that could be "percent", "byte", or "count". If it's "percent", then `yMax` should be 100. Otherwise, it should be auto.

My implementation is
[code]
Alternatively, I could pass in something like "auto" to indicate I want the default behavior.

[2015-07-06 18:29] jayphelps commented on #77
@jamesarosen that seems like a very valid case. I dig your suggestion for `"auto"` to let nf-graph know to use the default behavior. Back to you @blesh.

[2015-07-06 18:48] jamesarosen commented on #77
In that case, the docs might read something like

Any my example might look something like
[code]

[2015-07-06 18:57] blesh commented on #77
It's tricky. I sort of view the value the graph was *initially* set with to be the "default", not necessarily the *coded* default. It seems like we could memoize that when it's initialized, somehow. I think passing `undefined` and expecting it to default is fine. I'm more concerned with that matching up with where someone is inadvertently passing in `NaN` due to some miscalculation, I guess.

Perh

[2015-07-09 00:54] jamesarosen opened #83 "contentClipPathId doesn't work on apps with <base> tag"
When the page has a `<base href="/something/">` tag, SVG IRIs that are just fragments don't work. The only such IRI in this project is

[code]
which emits something like
[code]
Unfortunately, the only workaround is to use the absolute URL of the page. Thus, I suggest something like
[code]
/cc @jayphelps, who has some experience with these issues.

[2015-07-09 01:13] blesh commented on #83
FWIW, the clip path stuff is likely cruft.

[2015-07-09 01:25] jamesarosen commented on #83
It's actually helping me at the moment. I have a live time-series and I render data off to the right of the graph, then use the clip to prevent it from showing up. There might be another way to do that. See http://bost.ocks.org/mike/path/

[2015-07-09 02:15] jamesarosen commented on #83
I'm going to backtrack a bit on that. I've inadvertently been relying on the clip-path not working. Specifically, I show an x-value indicator (eg average or 95th percentile) in the right margin. With the clip-path working, that gets clipped out! It's important, but not necessary, that the indicator sit inside the content `<g>` so it can line up with a horizontal line.

I can always do my own clipp

[2015-07-09 02:16] jamesarosen commented on #83
The one place the existing clip-path is useful is in adding a fill to the content `<g>`.

[2015-07-15 19:54] jayphelps opened #84 "nf-graph should not disable user-select/drag for every element within"
Right now everything inside `.nf-graph` is made non-selectable/draggable. This prevents someone from easily copying numbers, labels, etc which I don't think was the intent.
[code]
https://github.com/Netflix/ember-nf-graph/blob/d74b0e533449f36aae680d8d19c12d44986ccd7e/styles/scss/components/nf-graph.scss#L16-L24

Instead, we should explicitly opt out things that should be selectable, Things like li

[2015-07-15 20:09] blesh commented on #84
Ah, this was done as an add for brush-selection. Perhaps we need to dynamically set this when a brush component is on it?

It's tricky business. Maybe things that should be selectable need to opt back in?

[2015-07-20 21:09] blangslet opened #85 "Brush Select To Zoom throws "Cannot read property 'insertBefore' of null""
Any click and drag event on the "Brush Select to Zoom" graph throws "Uncaught TypeError: Cannot read property 'insertBefore' of null."

![screen shot 2015-07-20 at 2 03 09 pm](https://cloud.githubusercontent.com/assets/1318543/8787344/73eeff4a-2ee8-11e5-98b1-d176c64b4a8b.png)

[2015-07-20 23:04] blesh commented on #85
Thanks. Is this in the examples page?

[2015-07-20 23:06] blangslet commented on #85
Yep! http://netflix.github.io/ember-nf-graph-examples/dist/#brush-select-zoom . Playing with it throws the console error.

[2015-07-20 23:15] blesh commented on #85
@blangslet it looks like an issue where the examples need to be updated to the latest version of the graph components and Ember 1.12. It's doing something strange where it's looking for a parentElement on a detached comment node. I'm not sure what that's about. Either way, Ember is behind and so are the components on the Example page.

[2015-07-20 23:23] blangslet commented on #85
@blesh I'm running ember 1.12.0 and ember-nf-graph 1.0.0-beta.20 and still seem to be getting the error. Were you able to clear it out?

Awesome library by the way, comparing charting options right now for a reporting/dataviz dashboard and it seems like this is the way to go. Awesome work!

[2015-07-20 23:26] blesh commented on #85
I appreciate the complement. I'm a little concerned about this bug because we haven't run into it here. At least it's in the example app so I can debug it. We desperately need to get the newer integration tests working on this repo.

[2015-07-21 17:47] blesh commented on #71
I'm interested to see if this works in #86 since I've completely refactored the tracking dot logic. I'm still in 1.11 on all of my projects, and we still don't have a means of creating integration tests I can run in Glimmer. @jamesarosen can you check once #86 is merged?

[2015-07-21 19:51] blesh commented on #85
Fixed this issue, it turns out that since I was manually updating the DOM, Ember was disagreeing with me.

[2015-07-21 19:51] #85 closed

[2015-07-21 19:51] blesh commented on #85
fixed in 1.0.0-beta.22

[2015-07-21 19:52] blesh commented on #71
This needs to be tested against `1.0.0-beta.22` and Ember 2.0 ... I don't have the bandwidth at the moment.

[2015-07-21 19:53] blesh commented on #50
I'm closing this as it's not a priority for us, or seemingly anyone else at the moment. I'm happy to take PRs around it, of course.

[2015-07-21 19:53] #50 closed

[2015-07-21 19:54] blesh commented on #47
Since there was no response and I have been unable to duplicate the issue, closing this issue.

[2015-07-21 19:54] #47 closed

[2015-07-21 19:55] #6 closed

[2015-07-21 19:56] blangslet commented on #85
Woohoo, thanks Ben!!

[2015-07-21 19:57] blesh commented on #1
The big hold up here is a solid way to do integration testing in Ember. I've been pointed at a few techniques by @jamesarosen and @ef4, but I've been unable to get them working.

This is a desperate need for the stability of this library, but I feel I'll have to punt until Ember's documentation catches up with reality.

[2015-07-21 22:31] ef4 commented on #1
https://github.com/Netflix/ember-nf-graph/pull/91

[2015-07-24 19:21] jeff3dx opened #95 "Remove clippath"
Its not being used, and it causes issues with SVG image export

[2015-07-27 19:31] blesh commented on #12
#96 closes this.

[2015-07-27 19:31] #12 closed

[2015-07-27 19:32] blesh commented on #18
Closing this completely as I'm moving away from SASS entirely. I find it encourages overly specific CSS output. See #96

[2015-07-27 19:32] #18 closed

[2015-07-27 19:33] blesh commented on #13
This has been done in the 1.0.0-beta.25 and higher

[2015-07-27 19:33] #13 closed

[2015-07-27 19:33] blesh commented on #71
ping @jamesarosen have you had a chance to check the latest version?

[2015-07-28 17:36] jamesarosen commented on #71
I haven't. I'll try to give it a shot this week or weekend.

[2015-07-28 17:48] blesh commented on #71
Thanks @jamesarosen

[2015-08-25 20:22] blangslet opened #101 "Bar chart xScaleType="ordinal" hides x-axis labels"
Adding xScaleType="ordinal" to get a properly formatted bar chart hides the x-axis labels.

![screen shot 2015-08-25 at 1 15 51 pm](https://cloud.githubusercontent.com/assets/1318543/9478281/ab1bfb12-4b2b-11e5-9ff7-d3a03957683a.png)

Removing xScaleType="ordinal" shows labels but formatting is jacked.

![screen shot 2015-08-25 at 1 14 49 pm](https://cloud.githubusercontent.com/assets/1318543/94782

[2015-08-25 23:01] blesh commented on #101
It's probably some oversight in the logic that generates the ticks. Thanks for pointing that out.

[2015-08-26 19:34] jamesarosen commented on #77
What's the current behavior if I set `yMax=NaN`?

[2015-08-26 22:00] blangslet commented on #101
I didn't have time to dig in too deep, but I hacked together a quick solution:

At: https://github.com/Netflix/ember-nf-graph/blob/master/app/components/nf-x-axis.js#L240

[code]
I couldn't find xData in nf-graph, so changed it to xDomain and got the x-axis values passed down.

[code]
The labels were a little askew so at https://github.com/Netflix/ember-nf-graph/blob/master/app/components/nf-x-axi

[2015-08-26 22:05] blesh commented on #77
It should behave the same as a 0, I think.

[2015-08-26 22:07] blesh commented on #101
Thanks @blangslet! ... I'm sorry I don't have time to get to this... do you think you could submit a PR?

[2015-08-26 22:08] blangslet commented on #101
On a deadline right now, but hopefully will have some time this weekend!

[2015-08-26 22:36] blesh commented on #101
Whatever works. I appreciate all the help I can get. ;)

[2015-09-04 19:14] koryteg commented on #101
changing the ticks doesn't seem to work for me as well,
[code]

the `x is` doesnt show up, and the `debugger` isn't executing. im on `ember 1.13.8`. dont have time to look at it now but maybe this weekend or monday.

[2015-09-04 19:26] koryteg opened #103 "Feature proposal: more flexibility to manipulate the lanes (maybe frets too)"
I haven't thought through this a ton but it would be nice to change the lanes to be lines and not rects as well as maybe style them a bit. I am willing to work on this but wanted to get some feedback on it.

[2015-09-04 19:33] blesh commented on #103
@koryteg it sounds okay to me. The lanes and "frets" were created to precisely match a mockup for the project these components were made for within Netflix. The tricky bit to changing how they can be manipulated is that it could amount to a breaking CSS change for existing apps.

[2015-09-13 23:25] jamesarosen opened #104 ""You modified ... twice in a single render" deprecation warnings"
Running on Ember 1.13, I get the following deprecation warnings about modifying a property twice in a single render:

 * `graphHeight` due to `xAxis`
 * `graphWidth`, due to `yAxis`
 * `[d]` for unknown reasons

I tried changing some of the components' `init` hooks to `didInitAttrs`, but that breaks because their parent components expect them to exist during initialization.

[2015-09-14 17:56] jamesarosen commented on #77
So you want

 * `undefined`, `null`, `NaN`, `0` to all be treated as "calculate max"
 * any number to be treated as a fixed value

[2015-09-14 18:08] blesh commented on #77
I really depends on the `yMaxMode` how it will behave. If it's `auto` it should ignore setting the value entirely.

[2015-09-14 18:10] jamesarosen commented on #77
@blesh can you give me very specific requirements? I need to work on this this week to ship a feature. I can make up an implementation that works for me, but I'd rather do something that will get merged here (eventually).

[2015-09-14 18:13] blesh commented on #77
different `yMaxModes`:

- `auto`: automatically calculate `yMax` from contained graphics' data
- `push`: allow setting of `yMax`, but push the `yMax` value up if the contained data passes it.
- `push-tick`: same as `push`, but go to the next nicest "tick" value.
- `fixed`: user determines the `yMax` value at all times.

When in doubt, use `fixed` and set it yourself. We do this for things like sli

[2015-09-14 18:19] jamesarosen commented on #77
These `yMaxMode`s suggest maybe I'm going about this wrong. Imagine the following use-case:

Given that, I would guess something like
[code]

[2015-09-17 11:30] andrei1089 opened #106 "Custom templates for nf-x-axis and nf-y-axis are not working"
I'm running Ember 1.13 and custom templates are not working. As mentioned in this comment (https://github.com/Netflix/ember-nf-graph/commit/64e657cbc2da0cbf1a170f8ef794ae82b7a76376#commitcomment-12000510), `hasBlock` and `hasBlockParams` are available only in the template, so the `useTemplate` property is not computed correctly.

[2015-09-17 18:50] blesh commented on #106
This addon doesn't currently support Ember 1.13. There are some APIs that were dropped in that version that his library relied on.

[2015-09-17 18:50] #106 closed

[2015-09-17 21:19] jamesarosen commented on #77
I'm totally cool with setting `yMax` to `"auto"` or some other string when I want default behavior:
[code]

[2015-09-17 21:24] blesh commented on #77
The method that is going to give you the most control will be using `fixed` in most cases. `auto` and `push` or `push-tick` were really added as conveniences, but might not be doing the most efficient thing when trying to suss out where your min and max values lie.

[2015-09-17 21:25] blesh commented on #77
For example, maybe your array is already sorted, or maybe your service already gave you the min and max values, and you can just pick them out of an object or an array without having to iterate over that array.

[2015-09-17 23:44] jamesarosen commented on #70
64e657cb doesn't work because `hasBlock` isn't a property on the component. It's an Ember-Handlebars "special" key. See https://github.com/emberjs/ember.js/blob/eeb8ee905171483e47ace7786ffcf7e62d8ea985/packages/ember-htmlbars/lib/hooks/get-root.js#L9

[2015-09-18 15:10] jamesarosen opened #108 "Axes don't recompute if data object is modified"
If I *modify* rather than *replace* the `data` array, the axes don't recompute.

My code looks something like

[code]

Changing
[code]
to
[code]
fixes the problem.

[2015-09-18 18:23] blesh commented on #108
That seems legit. We're probably always setting data (even with the same array over and over) in our apps given how our data arrives.

@jamesarosen, either @jayphelps or I are going to try to merge some of these PRs today. We have some bug fixes for the area components we need to get in.

[2015-09-28 23:38] jasonkriss commented on #106
@blesh I was just hit by this as well. I don't think it's limited to 1.13. [`hasBlock` and `hasBlockParams` are only available in templates contexts](https://github.com/emberjs/ember.js/issues/11741#issuecomment-121248949).

[2015-09-29 18:18] blesh commented on #106
@jasonkriss what version of Ember are you using?

[2015-09-29 18:23] jasonkriss commented on #106
@blesh I'm on 2.0.0.

[2015-09-29 19:29] blesh commented on #106
@jasonkriss yeah, this addon won't work with 1.13 or higher. 1.13 broke compatibility with a couple of little-used (but not private) APIs these components used. My team at Netflix needs this addon to keep supporting 1.11 and 1.12, since that's the version our apps are on, and given how daunting the refactor looks to make it to 2.0, we're unlikely to invest much time to upgrade this addon to suppor

[2015-09-29 19:44] blesh commented on #106
FWIW: I've added a [jj-abrams branch](https://github.com/netflix/ember-nf-graph/tree/jj-abrams) for anyone that wants to try their hand at supporting 2.0.

[2015-09-29 19:47] benlesh opened #110 "Ember 2.0 support"
Currently, my team doesn't have the bandwidth to upgrade our apps from Ember 1.12 to Ember 2.0, and consequently, Ember 2.0 support for this add-on is _not_ a priority for us at this time.

However, I'm sympathetic , and I've started a [jj-abrams branch](https://github.com/netflix/ember-nf-graph/tree/jj-abrams) for those of you that would like to try your hand to adding support for Ember 2.0.

Any

[2015-09-29 19:49] #1 closed

[2015-09-29 19:49] #7 closed

[2015-09-29 20:35] jasonkriss commented on #106
@blesh got it! Thanks for providing a lil more context.

[2015-10-13 21:53] zkwentz opened #111 "nf-x-axis documentation"
Hey all,

`nf-x-axis` documentation doesn't show in the example that you need to specify `useTemplate=true` or it won't yield to your block. Doesn't look like the option is in the docs either, http://netflix.github.io/ember-nf-graph/docs/classes/components.nf-x-axis.html.

Putting this here for others, until I can open a PR this evening to update docs.

[2015-10-13 23:42] zkwentz commented on #111
Okay, now looking at the code, I'm seeing it's not a documentation issue, the logic is to check if a block has been passed, and if it is, `useTemplate` is false, if it isn't `useTemplate` is true.

Going to run through this and see what version of ember / handlebars / emblem I'm running and if they have an issue with `hasBlock`.

[2015-10-14 00:24] zkwentz commented on #111
Looks like it was due to `hasBlock` not being available from within the component, only in the template. I modified the logic a bit to always use `hasBlock` and set a property if we're pre-glimmer (`template` is available).

[2015-10-14 20:25] #111 closed

[2015-10-29 03:50] SirZach commented on #111
Doesn't look like your changes made it out. I'm using <code>1.0.0-beta.31</code> and still had to set <code>useTemplate</code> to true. Also, even on the latest master version, the y-axis still references <code>useTemplate</code> instead of <code>hasBlock</code>. Thanks!

[2015-10-29 17:21] blesh commented on #111
@SirZach looks like I need to publish a new version still.

[2015-11-18 08:02] zkwentz commented on #110
We're using this extensiviely in Origin Story, would love to help out where I can @blesh.

[2015-11-18 18:46] zkwentz commented on #104
Brace yourself, this will be redundant but it's worth laying out exactly what's happening.

The `nf-graph` renders, yields to it's block. In that block, we have our `nf-(xy)-axis`, when that axis is initialized it sets itself on the `nf-graph` component. The `nf-graph` component has a computed property for `graphHeight` and `graphWidth`. One of the dependentKeys is the height of the `nf-(xy)-axis`

[2015-11-18 20:09] blesh commented on #104
Yeah, this is a biproduct of having the scales contained at the `nf-graph` level, and not defined by the `nf-(xy)-axis` components, which is probably where they should be.

I'm open to any solution that can be provided. We're still stuck on Ember 1.11 - 1.12 on our apps on my team at Netflix because of other deprecation issues and breaking changes, so I haven't seen this since I tried (and failed)

[2015-11-18 20:30] #71 closed

[2015-11-18 20:30] #101 closed

[2015-11-18 20:31] #108 closed

[2016-08-14 05:07] ming-codes commented on #49
This could be the solution: [EmberSherpa/ember-element-resize-detector](https://github.com/EmberSherpa/ember-element-resize-detector)

[2016-08-14 14:24] blesh commented on #49
@ming-codes as I recall, we used something like that to handle resizing these components at Netflix

[2017-01-25 12:39] snyk-community opened #115 "High severity vulnerability affecting this repo"
Hi there,

We noticed that your repo has a high severity vulnerability:
  - [Regular Expression Denial of Service](https://snyk.io/vuln/npm:minimatch:20160620?utm_source=gh_issue)
  - Affected package: minimatch &lt;&#x3D;3.0.1

[Here is the test report for this repo. ](https://snyk.io/test/github/Netflix/ember-nf-graph?utm_source=gh_issue)
If you’d like to fix this vulnerability, Snyk lets you ge

[2017-07-26 18:19] ebryn opened #118 "Improve documentation"

[2017-07-26 18:19] ebryn opened #119 "Fix failing tests"

[2017-07-27 04:46] acorncom commented on #110
Looks like this issue can be closed

[2019-04-18 08:04] cclauss opened #125 ".travis.yml: The 'sudo' tag is now deprecated in Travis CI"
[Travis are now recommending removing the __sudo__ tag](https://blog.travis-ci.com/2018-11-19-required-linux-infrastructure-migration).

"_If you currently specify __sudo: false__ in your __.travis.yml__, we recommend removing that configuration_"